@model DAL.Aktivnosti

@{
    ViewBag.Title = "Create";
}

<h2>Create New Activity</h2>
@section scripts {
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/bootstrap.css");
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
     
    @Scripts.Render("~/bundles/toastr")
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
    <script src="~/Scripts/jquery.ui.datepicker.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
     <link  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"  type='text/css'>

      <script type="text/javascript">
          $(document).ready(function () {

              $("#datepickerfr").datepicker();
              $("#datepickerto").datepicker();

            $("#form1").on("submit", function (event) {
                
                event.preventDefault();

                $('#af').addClass('fa fa-spinner fa-spin');
                var data = $(this).serialize();
                var url = "/Aktivnosti/Create";
                $.ajax({
                    type: "POST",
                    url: url,
                    data: data,
                    success: function (response) {
                       
                    DisplayS();
                    window.location.href = "/Aktivnosti/Index/?id="+response.idFarmera;
                          
                         
                    }
                });
            });
        })
    </script>
     <script type="text/javascript">
         function DisplayS() {
             toastr.options.positionClass = 'toast-top-center'
             toastr.success('Record inserted successfully');
         }

     </script>
 
 }
    @Html.ValidationSummary(true)
    <form id ="form1" method="post">
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.id):
        </span>
        
    </div>
            
     

    <div>
        <span class="editor-label">
            @Html.LabelFor(model=>model.idFarmera):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.idFarmera)
           
        </span>
    </div>
                        
    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.text):
        </span>
        <span class="editor-field">
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  @Html.EditorFor(model => model.text)
            @Html.DisplayFor(model => model.text)
        </span>
    </div>
            
     <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.start_date):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.start_date)
            @Html.DisplayFor(model => model.start_date)
        </span>
    </div>
    
    

   <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.end_date):
        </span>
        <span class="editor-field">
            @Html.EditorFor(model => model.end_date)
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Html.DisplayFor(model => model.end_date)
        </span>
    </div>

    <div>
        <span class="editor-label">
            @Html.LabelFor(model => model.stanje):
        </span>
        <span class="editor-field">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp @Html.EditorFor(model => model.stanje)
            @Html.DisplayFor(model => model.stanje)
        </span>
    </div>
    <p>
        <button type="submit" class="btn btn-primary btn-md" value="Create" id="btn" ><i id="af"></i>Create</button>
        @Html.ActionLink("Back to List", "Index", new { id = Model.idFarmera })
    </p>
    <div id="msg"></div>
</form>
